@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

$one: #0d0d0d;
$two: #023859;
$three: #4b7ba6;
$four: #638ca6;
$five: #9fb3bf;

$complementary-0: #a66000;

$main-bg: $one;

$border: $four;

$text: lighten($two, 55);
$highlight-text: #222;

$title: $one;
$title-bg: $five;
$title-bottom: $complementary-0;

$project-title: $four;

$accent-colour: black;

$link: $four;
$hover: $five;

$neu-upper: hsl(213.4, 81.4%, 31.9%);
$neu-lower: hsl(213.4, 81.4%, 1.9%);
$neu-border: hsl(213.4, 81.4%, 16.9%);