@import './colours.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans';
    background-color: $main-bg;
    color: $text;
    font-size: 80%;
}




// UTILITY CLASSES

.come-in {
    transform: translateY(150px);
    animation: come-in 0.8s ease forwards;
}
.come-in:nth-child(odd) {
    animation-duration: 0.6s;
}

@keyframes come-in {
    to {
        transform: translateY(0);
    }
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

@media screen and (max-width: 700px) {
    #skills {
        font-size: 0.8em;
    }
    #contact-container {
        flex-direction: column-reverse;
        div:first-of-type {
            width: 90%;
        }
        div:nth-child(2) {
            margin: 1em;
            width: 90%;

        }
    }
}

@media screen and (max-width: 600px) {
    .main-container {
        margin: 0 3vw;
    }
}
