@import '../styles/colours.scss';

.container {
    margin: 0 10vw;
    margin-top: 4em;
    line-height: 1.5;
    display: flex;
    font-size: 1.2em;
}

.bioSection {
    width: 70%;
    margin-right: 2.5em;

    p:first-of-type {
        text-indent: 2em;
    }

    p + p {
        margin-top: 2em;
    }

    p {
        max-width: 60ch;
    }
}

.photoSection {
    width: 30%;

    img {
        height: auto;
        width: 100%;
        border-bottom: 6px solid $three;
        border-radius: 5px;
        // border: 2px solid $text;
    }
}

.name {
    color: lighten($complementary-0, 40);
}

.contact {
    margin-top: 1em;
    padding: 0 3em;
    width: 100%;
    max-width: 60ch;
    display: flex;
    justify-content: space-around;

    a {
        font-size: 3em;
        color: $five;
        transition: 0.3s;
        margin-right: 0.75em;

        &:hover {
            color: lighten($complementary-0, 30);
        }
    }
}

@media screen and (max-width: 700px) {
    #skills {
        font-size: 0.8em;
    }

    .container {
        flex-direction: column;
        .bioSection {
            width: 100%;
            margin-right: 2.5em;
        }

        .photoSection {
            margin-top: 1em;
            width: 100%;
        }
    }
    #contact-container {
        flex-direction: column-reverse;
        div:first-of-type {
            width: 90%;
        }
        div:nth-child(2) {
            margin: 1em;
            width: 90%;
        }
    }
}
