@import '../styles/colours.scss';

.contactContainer {
    // height: 40vh;
    margin: 0 10vw;
    display: flex;
    align-items: center;
    img {
        width: 100%;
        height: auto;
    }
    > div:first-of-type {
        width: 40%;
    }
    > div:nth-child(2) {
        width: 40%;
        margin: 2em auto;
        padding: 2em;
        line-height: 2.5;
    }
    a {
        text-decoration: none;
        color: $link;
    }

    a:hover {
        color: $hover;
    }
}

@media screen and (max-width: 700px) {
    .contactContainer {
        flex-direction: column;
        margin: 0 10px;

        > div:first-of-type {
            width: 100%;
        }

        > div:nth-child(2) {
            width: 100%;
        }

    }
}