@import '../styles/colours.scss';

.skills {
    text-align: center;
    color: lighten($two, 40);
    margin-bottom: 2em;

    span + span::before {
        content: '';
        border-radius: 50%;
        height: 0.6ch;
        width: 0.6ch;
        background-color: lighten($complementary-0, 20);
        display: inline-block;
        margin: 0 0.9ch;
        margin-bottom: 0.3ch;
    }

    p::before {
        content: '<\A0';
        color: lighten($complementary-0, 20);
    }

    p::after {
        color: lighten($complementary-0, 20);
        content: '\A0>';
    }
}

.skill {
    white-space: nowrap;
}

.circle {
    border-radius: 50%;
    height: 0.6ch;
    width: 0.6ch;
    background-color: lighten($complementary-0, 20);
    display: inline-block;
    margin: 0 0.5ch;
    margin-bottom: 0.3ch;
}

@media screen and (max-width: 700px) {
    .skill {
        white-space: normal;
        font-size: 0.9em;
    }
}
