@import '../styles/colours.scss';

.astronaut {
    position: fixed;
    left: calc(50vw - 80px); //40vw;
    top: calc(50vh - 80px);
    width: 160px;
    height: auto;
}

.earth {
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    // z-index: -4;
    transform: translate(0, 20vw);
}

.welcome {
    height: 100vh;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // background: url(../astro.jpg) center / cover no-repeat fixed;
    background-color: black;
    // background: url(../landscape-photo-of-mountain-fullq.jpg) center/ cover no-repeat fixed;
    // border-bottom: 6px solid $two;
    position: relative;
    z-index: -1;

    h1 {
        position: fixed;
        font-size: 4em;
        right: 0;
        margin-right: 10px;
        bottom: 2vw;
        text-align: right;
        // font-family: "Josefin Slab";
        font-family: 'Orbitron';
        color: $three; //adjust-hue($four, 180deg);
        letter-spacing: 0.3em;

        writing-mode: vertical-rl;
        // line-height: 1.125;
        line-height: 0.95;
        animation: inleft 0 1s ease-in;
        z-index: -1;
        // span:first-child {
        //     letter-spacing: -0.1em;
        // }
        .midlight {
            color: $four;
        }
    }

    p {
        transform: rotate(180deg);
        position: fixed;
        left: 0;
        top: 50vh;
        font-size: 2.6em;
        color: $three;
        font-family: 'Josefin Slab';
        writing-mode: vertical-rl;
        transform-origin: center;
        text-align: left;
    }
}
